
*{
    margin: 0;
    padding: 0;
}

body{
    overflow-x: hidden;
}


/*------------ HEADER ------------*/

.header{
    background: transparent;
    position:absolute;
    width: 100%;   
}
.header__button {
    display: none;
    padding: 1rem;
    cursor: pointer;
  }
  


.name{
    display: inline-block;
    display: flex;
    align-items: center;
    justify-content: center;
   margin-right: 20rem;

}
.name p{
   
    font-family:'Condensed', sans-serif;
    color: rgb(5, 5, 5);
  font-size: x-large;
  letter-spacing: 0.1rem;
  font-weight: 600;
}
.header__nav{
    display: flex;
}


nav ul{
    height: 58px;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    margin-left: 19rem;   
}
nav ul li{
    list-style: none;
    padding:0 0.8rem;
}
nav ul li a{
    color: rgb(8, 8, 8);
    text-decoration: none;
    letter-spacing: 0.1rem;
    font-weight: 600;
    
}




/*--------- HOME PAGE --------*/

.home{
    height: 100vh;
    width: 100vw;
}

.container{
    height: 100vh;
    width: 100%;
}
.bold{
    color: black;
}

.img1{
    display: flex;
    flex-basis: 50%;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
}
.img{
     width: 50vw;
    height: 100vh;
    object-fit: cover;
    background-repeat: no-repeat;
   background-size: cover;
   background-position: center center;
}
.info{
    display: flex;
    flex-basis: 50%;
    height: 100vh;
    width: 50vw;
    flex-direction: column;
    float: right;  
    /* color: rgb(245, 241, 241); */
    /* background-color: pink; */
}
 .box{
    padding: 1rem 3rem;
    margin-top: 4rem;
    font-family:  'Condensed', sans-serif;
} 
.box h1{
    font-size:1rem;
    /* color: #f1c779; */
}
.box h2{
    font-size: 1rem;
    margin-top: 2.5rem;
}
.box p{
    margin-top: 1.8rem;
    /* color: white; */
    font-size: xx-large;
    letter-spacing: 0.1rem;
}
.box ul{
    padding: 1rem 0;
}
.box ul li{
    font-size: large;
    line-height: 150%;
}
#grade1 {
    width: 50vw;
    height: 293vh;
    background-color: rgb(140, 0, 255);
    background-image: linear-gradient(rgb(162, 0, 255), rgba(0, 225, 255, 0.938));
}





/*------ Button ------*/

.button{
    font-size: 1.2rem;
    text-decoration: none;
    text-transform: uppercase;
    border-width: 2px;
    border-style: solid;  
    color:black; 
    border-radius: 100px;
    padding: 0.5rem 1.2rem;
}
.buton{
    margin-top: 3rem;
    margin-right: 3rem;
}

.contact__button{
    font-size: 1.2rem;
    text-decoration: none;
    text-transform: uppercase;
    border-width: 2px;
    border-style: solid;  
    color:black; 
    border-radius: 100px;
    padding: 0.5rem 3rem;
    background-color: white;
}
.contact-button{

    margin-top: 3rem;
    margin-left: 3rem;
}
.contact__button:hover,
.contact__button:focus{
    background-color: black;
    border-color: black;
    color: white;
    transition: all 0.6s ease-in-out
}


.button:hover,
.button:focus{
    background-color: black;
    border-color: black;
    color: white;
    transition: all 0.6s ease-in-out
}




/*---------- ABOUT --------*/

.container2{
    height: 500px;
    width: 100vw;
    display: flex;
}

.details{
    background-color: pink;
   display: flex;
   flex-basis: 50%;
   height: 500px;
   flex-direction: column;
   font-family:'Condensed', sans-serif ;
  
}
.details h1{
    font-size: xx-large;
      padding-left: 2rem; 
      padding-top: 1rem;
}
.details h2{
    font-size: large;
    margin-top: 1rem;
    padding-left:2rem;
}
.details p{
    font-size: larger;
    margin-top: 2rem;
    /* margin: 1rem; */
    padding-left: 2rem;
    padding-right: 1rem;
}

.img2{
   display: flex;
   flex-basis: 20%;
   height: 500px;
}
.img2 img{
  width: 20vw;
  object-fit: cover;
  background-repeat: no-repeat;
   background-size: cover;
   background-position: center center;
}

/*------ Programming-Skill ------*/

.skill{
   display: flex;
   flex-basis: 30%;
   height: 500px;
   flex-direction: column;
   /* color:blanchedalmond; */
   /* background-color: brown; */
}
#grade2 {
    height: 500px;
    width: 30vw;
    background-color: black;
    background-image: linear-gradient(rgb(238, 235, 235), rgba(10, 10, 10, 0.938));
}
.skill h1{
    margin-top: 1rem;
    justify-content: center;
    align-items: center;
    margin-left: 4rem;
    font-family:'Condensed', sans-serif ;
    font-size: 2.5rem;
    color: rgb(61, 59, 59);
}
.skill h2{
    font-size:medium;
    margin-top: 2rem;
    margin-left: 2rem;
    font-family:'Condensed', sans-serif ;
    color: rgb(61, 59, 59);
}
.skill ul{
    padding: 1rem;
    margin-left: 1rem;
    margin-top: 2rem;
}
.skill ul li{
    list-style: none;
    padding: 1.1rem 0;
}
.line{
    margin-left: 1rem;
    margin-right: 3rem;
    border: 1px solid black;    
}
.skill-prog strong{
    font-weight: bold;
    display: inline-block;
    /* padding-bottom: 1px; */
    margin-left: 1rem;
    padding: 1.2rem 1rem;
}
.skill-prog span{
    font-weight: bold;
    display: inline-block;
    padding-bottom: 8px;
    padding: 1.2rem 1rem;
}
.per{
    float: right!important;
    margin-right: 2rem;
    }





/*-------- My-Experience --------*/

.container3{
    display: flex;
    height: 400px;
    width: 100vw;
}
.img3{
    width: 50vw;
    height: 400px;
    /* display: flex; */
    flex-basis: 50%;
    object-fit: cover;
    background: no-repeat;
    background-size: cover;
    background-position: center center;
}

.exp{
    display: flex;
    flex-basis: 50%;
    width: 50vw;
    flex-direction: column;
    color: rgb(199, 55, 55);
    padding: 1rem 3rem;
    font-family:  'Condensed', sans-serif;
}
.exp h1{
    color: black;
}
.exp h2{
    margin-top: 1rem;
}
.exp p{
    margin-top: 3rem;
    font-size: xx-large;
}

.date{
    font-size: small;
    font-weight: 600;
    color: black;
}
.collage{
    font-size: 1rem;
    font-weight: 500;
    margin-left: 4rem;
}





/*-------- My-Education -------*/

.container4{
    display: flex;
    height: 400px;
    width: 100vw;
}
 
.edu{
flex-basis: 50%;
flex-direction: column;
color: rgb(190, 40, 40);
padding: 1rem 3rem;
font-family:  'Condensed', sans-serif;
}
.edu h1{
    color: black;
}
.edu h2{
    margin-top: 1rem;
}
.edu p{
    margin-top: 3rem;
    font-size: xx-large;
    font-weight: 500;
}

.img4{
    flex-basis: 50%;
}
.photo{
    height: 400px;
    width: 50vw;
    object-fit: cover;
    background-repeat: no-repeat;
   background-size: cover;
   background-position: center center;
}

.brief-icon{
    font-size: 2rem;
   padding: 0 1rem;
}




/*------- Testimonial ------*/

.container5{
    display: flex;
    height: 400px;
    width: 100vw;
}

.container5{
    background-image: url(./Images/images.jfif);
background-repeat: no-repeat;
background-size: cover;
background-position: center; 
   display: flex;
    flex-direction: column;
    align-items: center;
}
.text{
    color: rgb(7, 7, 7);
    height: 400px;
    width: 100vw;
    font-family: 'Condensed', sans-serif;
    font-size: 2.5rem;
    text-align: center;
    justify-content: center;
    align-items: center;
    align-content: center;
}
.icon_star{
    color: rgb(14, 13, 13);
    padding: 4rem;
    justify-content: center;
    align-content: center;
    align-items: center;
    font-size: 3rem;
}





/*---------- Contact ---------*/


.container6{
    display: flex;
    height: 550px;
    width: 100vw;
    background-color: rgb(70, 73, 75);
}
.per-info h3{
    padding: 1rem;
    font-size: 30px;
    font-family: 'Condensed', sans-serif;;
}
.per-info{
    flex-basis: 50%;
}
input{
    outline: none;
}
input::placeholder{
    color: rgb(252, 249, 249);
}
textarea{
    outline: none;
}
textarea::placeholder{
    outline: none;
    color: rgb(252, 249, 249);
}

.Name{
    height: 40px;
    width: 600px;
    margin-top: 2rem;
    margin-left: 1rem;
    background: transparent;
    border-bottom: 1.5px solid black; 
    border-top-style: hidden ;
    border-left-style: hidden ;
    border-right-style: hidden ;
    font-size: 18px;
    cursor:text;
}

.message{
    width: 600px;
    height: 200px;
    margin-top: 2rem;
    margin-left: 1rem;
    background: transparent;
    background: transparent;
    border: 1.5px solid black;
    border-top: black;
    border-left: black;
    border-right: black;
    font-size: 19px;
}


/*------- Conatct-Image ------*/

.cont-img{
    flex-basis: 25%;
    height: 450px;
}
.img5{
    object-fit: cover;
    width: 25vw;
    height: 450px;
}
.cont-add{
    flex-basis: 25%;
    height: 450px;
    background-color: black;
    color: blanchedalmond;
    font-family: 'Condensed', sans-serif;;
}
.cont-add h3{
    padding: 2rem 3rem;
    font-size: 1.8rem;
}
.cont-add p{
    margin-left: 2.8rem;
}
.cont-add p a{
    list-style: none;
    color: blanchedalmond;
    text-decoration: none;
}
.contact-icon{
    margin-right: 1rem;
    font-size: 1.5rem;
}


/*------------ FOOTER --------------*/


.footer{
    height: 100px;
    background-color: #2874f0;
    width: 100vw;
    background-color: rgb(17, 17, 17);
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 2rem;
    padding: 10rem 0;
    color: gray;
}
.copyright{
    display: flex;
    text-align: center;
    justify-content: center;
    align-items: center;
    align-content: center;
    font-weight: 600;
    font-size: x-large;
    font-family: Arial, Helvetica, sans-serif;
}

.footer-list{
    list-style: none;
    display: flex;
    justify-content: center;
    align-items: center;
}
.footer-item{
    padding: 0.5rem;
    font-size: 1.5rem;
    color: gray;
}
.footer-item a{
    color: gray;
}
.footer__link {
    display: flex;
    width: 100%;
            align-items: center;
            justify-content: center;
    text-decoration: none;
  }
    .footer__link > i {
        padding: 1rem;
        color: gray;
        transition: all 0.3s ease;
      }
      .footer__link > i:hover {
        border-radius: 50%;
        background: #e3ae57;
        color: white;
      }
